<!DOCTYPE html>
<html>
  <head>
    <title>Secure Real-Time Multiplayer Game</title>
    <meta
      name="description"
      content="An example for the fCC InfoSec Secure Real-Time Multiplayer Game project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <main>
      <header>
        <h1>Secure Real Time Multiplayer Game</h1>
      </header>
      <hr style="margin: 25px" />
      <div class="container">
        <div>
          <h2>Instructions</h2>
          <p>
            Use the arrow keys or pad buttons to move your avatar and collect
            the collectibles!
          </p>
        </div>

        <div id="rankboard">Empty</div>
        <div id="scoreboard">Empty</div>
        <canvas ref="game" id="game-window" width="640" height="480"></canvas>
      </div>
      <div>
        <div class="dpad">
          <div class="btn up" title="up">▲</div>
          <div class="btn left" title="left">◀</div>
          <div class="btn right" title="right">▶</div>
          <div class="btn down" title="down">▼</div>
        </div>
      </div>
    </main>
    <footer class="footer" translate="no">
      <div class="footer_contenido">
        <div translate="no" id="footer_tag">Developed by:</div>

        <div class="logo">
          <a
            href="https://waldohidalgo.cl"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./assets/logo_waldo.png" alt="logo waldo" />
          </a>
        </div>
      </div>
    </footer>
  </body>
  <script src="../public/game.mjs" type="module"></script>
</html>
